/* Common Styles */
.background {
    width: 100%;
}

/* Logo Styles */
.logo {
    width: 10%;
    margin: 5px;
}

/* Header Styles */
.header {
    position: fixed;
    top: 0;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000; /* Set a high z-index value to keep the header on top */
}

/* Center the "Found" and "Lost" elements at the top of the header */
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-align: center; /* Center the text horizontally */
    margin: 0%; /* Reset margin to ensure vertical centering */
    padding: 20px 0; /* Add padding to create space at the top */
    position: absolute; /* Position the heading absolutely */
    top: 50%; /* Move it down by 50% of the container's height */
    transform: translateY(-50%); /* Center vertically */
    left:10%;
}
/* Restyle h2 as needed */
h2 {
    font-size: 14px;
    margin: 20px;
    flex-grow: 1; /* Expand to fill available space */
    text-align: right;
}

/* Navigation Styles */
nav {
    background-color: white;
    padding-top: 70px; /* Initial space below the header */
    padding-bottom: 20px;
    position: sticky;
    top: 2%; /* Stick to the top of the viewport when scrolling */
}

.navLinks {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}

.navItem {
    margin-right: 50px;
}

nav ul li a {
    display: inline-block;
    background-color: #fbfbfb;
    text-decoration: none;
    padding: 20px;
    border: solid 2px #f8f5f5;
    border-radius: 60px;
    color: black;
}

nav ul li a.active,
nav ul li a:hover {
    background: #4aa3f7;
    color: white;
}

/* Skip Link Styles */
.skip {
    position: absolute;
    left: 0;
    top: -40px;
    z-index: 1;
}

.skip:focus {
    left: 0;
    top: 20px;
}

/* Footer Styles */
footer {
    background: white;
    color: black;
    text-align: center;
    padding: 1px;
}


label {
    text-align: center; /* Center the text horizontally */
    display: block; /* Make labels block-level elements to stack them vertically */
    margin-bottom: 10px; /* Add some spacing between labels */
}
.input-container {
    text-align: center; /* Center the input element horizontally */
    margin-bottom: 20px; /* Add spacing between the label and input */
}

p{
    text-align: center; /* Center the text horizontally */
    display: block; /* Make labels block-level elements to stack them vertically */
    margin-bottom: 10px; /* Add some spacing between labels */
}
form {
    margin-top: 20px; /* Add top margin to the form */
}
/* Adjust the width as needed */