body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

.tab {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    color: #fff;
}

.tab button:hover {
    background-color: #555;
}

.tabcontent {
    display: none;
    padding: 20px;
    background-color: #f1f1f1;
}

/* Style the active tab */
#lostItemTab, #foundItemTab, #preferencesTab, #myLostItemsTab, #myFoundItemsTab {
    display: block;
}

.tab-content {
    display: none;
}

/* Style the content div for each tab */
#lostItemTabContent, #foundItemTabContent, #preferencesTabContent, #myLostItemsTabContent, #myFoundItemsTabContent {
    display: block;
}

