<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/html5reset.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='account.css')}}">
    <!-- <script src="js/home.js"></script> -->
   
    <title>Findzy</title>

</head>
<body>
    <div class="header">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="lost and found logo" class="logo"/>
        <h1>Findzy</h1>
        <h2>{{logname}} (UserID: {{userID}})</h2>
    </div>
    
    <main id="skip">
        
        <nav>
            <ul class="navLinks">
                <li class="navItem"><a href="{{url_for('show_homepage')}}">Home</a></li>
                <li class="navItem"><a href="{{url_for('show_reminders')}}">Reminders</a></li>
                <li class="navItem"><a href="{{url_for('show_about')}}">About</a></li>
                <li class="navItem"><a href="{{url_for('show_account')}}">Account</a></li>
            </ul>
        </nav>
        <div class="image-container">
            <img src="{{url_for('static', filename='images/whiteback.png')}}" alt="background of homepage" class="background"/>
            <div class="chart-container">
             <div class="lost-items">
                 <h3>My Lost Items</h3>
                 {% for lost in losts %}
                 <div>
                     <h4>{{lost[1]}}</h4>
                     ID: {{lost[0]}}, Description: {{lost[2]}}, Date Lost: {{lost[3]}}, Location: {{lost[4]}}
                 </div>
                 {% endfor %}
             </div>
     
             <div class="found-items">
                 <h3>Items I've Found</h3>
                 {% for found in founds %}
                 <div>
                     <h4>{{found[1]}}</h4>
                     ID: {{found[0]}}, Description: {{found[2]}}, Date Found: {{found[3]}}, Location: {{found[4]}}
                 </div>
                 {% endfor %}
             </div>
         </div>
        </div>
       </main>


    <footer>
        <p>Findzy &copy; 2023</p>
    </footer>
</body>
</html>
<!-- <script src="js/home.js"></script> -->