<!DOCTYPE html>
<html>
<head>
    <title>Findzy</title>

</head>
<body>
    <h1>Findzy</h1>
    <h2 align="right">{{logname}} (UserID: {{userID}})</h2>

    <form action="{{url_for('submit_lost')}}" method="get">
        <button type="submit">Submit a Lost Item!</button>
    </form>

    <form action="{{url_for('submit_found')}}" method="get">
        <button type="submit">Submit a Found Item!</button>
    </form>

    <form action="{{url_for('set_preferences')}}" method="get">
        <button type="submit">Edit Notification Preferences</button>
    </form>

    <div>
        <h3>My Lost Items</h3>
        {% for lost in losts %}
        <div>
            <h4>{{lost[1]}}</h4>
            ID: {{lost[0]}}, Description: {{lost[2]}}, Date Lost: {{lost[3]}}, Location: {{lost[4]}}
        </div>
        {% endfor %}
    </div>

    <div>
        <h3>Items I've Found</h3>
        {% for found in founds %}
        <div>
            <h4>{{found[1]}}</h4>
            ID: {{found[0]}}, Description: {{found[2]}}, Date Found: {{found[3]}}, Location: {{found[4]}}
        </div>
        {% endfor %}
    </div>
</body>
</html>