<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/html5reset.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='reminders.css')}}">
    <!-- <script src="js/home.js"></script> -->
   
    <title>Findzy</title>

</head>
<body>
    <div class="header">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="lost and found logo" class="logo"/>
        <h1>Findzy</h1>
        <h2>{{logname}} (UserID: {{userID}})</h2>
    </div>
    
    <main id="skip">
        
        <nav>
            <ul class="navLinks">
                <li class="navItem"><a href="{{url_for('show_homepage')}}">Home</a></li>
                <li class="navItem"><a href="{{url_for('show_reminders')}}">Reminders</a></li>
                <li class="navItem"><a href="{{url_for('show_about')}}">About</a></li>
                <li class="navItem"><a href="{{url_for('show_account')}}">Account</a></li>
            </ul>
        </nav>
        <div class="image-container">
            <img src="{{url_for('static', filename='images/whiteback.png')}}" alt="background of homepage" class="background"/>
            
        </div>
       </main>

    <footer>
        <p>Findzy &copy; 2023</p>
    </footer>
</body>
</html>

<!--  -->