<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/html5reset.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='submitf.css')}}">
    <!-- <script src="js/home.js"></script> -->
    <title>Findzy - Submit Found Item</title>
    <!-- Include CSS and JavaScript libraries -->
</head>

<body>
    <div class="header">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="lost and found logo" class="logo" />
        <h1>Findzy</h1>
        <h2>{{logname}} (UserID: {{userID}})</h2>
    </div>
    <main id="skip">
        <nav>
            <ul class="navLinks">
                <li class="navItem"><a href="{{url_for('show_homepage')}}">Home</a></li>
                <li class="navItem"><a href="{{url_for('show_reminders')}}">Reminders</a></li>
                <li class="navItem"><a href="{{url_for('show_about')}}">About</a></li>
                <li class="navItem"><a href="{{url_for('show_account')}}">Account</a></li>
            </ul>
        </nav>
        <div>

            <div>
                <div class="centered-text">
                    <h3>Submit a found item here!</h3>
                    <form action="{{url_for('submit_found')}}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="user_id" value="{{userID}}"/>
                        <div class="input-container">
                            <label for="item_name">Item Name:</label>
                            <input type="text" name="item_name"/>
                        </div>
                        <div class="input-container">
                            <label for="description">Item Description:</label>
                            <input type="text" name="description"/>
                        </div>
                        <div class="input-container">
                            <label for="date_found">Date Found (YYYY-MM-DD):</label>
                            <input type="text" name="date_found"/>
                        </div>
                        <div class="input-container">
                            <label for="location">Location:</label>
                            <input type="text" name="location"/>
                        </div>
                        <div class="input-container">
                            <input type="submit" name="Submit!" onclick="myalert()"/>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <p>Findzy &copy; 2023</p>
        </footer>
</body>

</html>
