<!DOCTYPE html>
<html>
<head>
    <title>Findzy - Submit Lost Item</title>
    <!-- Include CSS and JavaScript libraries -->
</head>
<body>
    <h1>Findzy</h1>
    <h2 align="right">{{logname}} (UserID: {{userID}})</h2>

    <div>
        <h3>Submit a lost item here!</h3>
        <form action="{{url_for('submit_lost_item')}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="user_id" value="{{userID}}"/>
            <label for="item_name">Item Name:</label>
            <input type="text" name="item_name"/>
            <label for="description">Item Description:</label>
            <input type="text" name="description"/>
            <label for="date_lost">Date Lost (YYYY-MM-DD):</label>
            <input type="text" name="date_lost"/>
            <label for="location">Location:</label>
            <input type="text" name="location"/>
            <input type="submit" name="Submit!"/>
        </form>
    </div>
</body>
</html>
